body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
}

.menu_bar {
    padding: 4px 8px 8px 24px;
    font-size: medium;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}
.menu_bar ul {
    font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 20px;
}
.left {
    float: left;
    display: inline;
    overflow: hidden;
}
.right {
    float: right;
    display: inline;
}
.menu_bar ul li {
    padding: 4px;
    list-style: none;
    display: inline;
}

#base {
    margin: 1em;
}

footer {
    bottom:0;
    margin: 1em 1em 0 1em;
    position:fixed;
    font-size: smaller;
    color: gray;
}

